.table-main {
 width: 55%;
 margin: auto;
 padding-top: 50px;
}

.todo-name-link{
    font-size: medium;
}

.select--search-container{
    margin-bottom: 35px;
     display: flex;
     justify-content: center;
     align-items: center;
}

.select-container{
    margin-left: 30px;
}
